<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
      
    </div>

    <div>
      <label for="hero-name">City name: </label>
      {{hero.city.name}}
      
     
      
    </div>

    <div>
      <label for="hero-name">Powers: </label>
      <span *ngFor="let power of hero.powers">
        <li>{{power.name}} {{power.id}} <button type = "button" class = "delete" title= "delete power" (click) = "delete(hero, power.id)">X</button></li>
        
      </span>
    </div>

    <div>
      Add powers:
      <div *ngFor="let power of hero.powers">
       
      
      </div>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type = "button" (click)="save()" > save </button>
  </div>




  