<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
      
    </div>

    <div>
      <label for="hero-name">City name: </label>
      {{hero.city.name}}
    </div>

    <app-city-select ></app-city-select>



    Add powers:
    <select class="custom-select" [(ngModel)]="powerIn">  
      <option *ngFor="let power of powers" [ngValue]="power">{{power.name}}</option>
    </select>

      <button class="button-add" type="button" (click)="add()">Add power</button>




    <div>
      <label for="hero-name">Powers: </label>
      <ul class="heroes">
        <li *ngFor="let power of hero.powers">
          <a routerLink="/powerdetail/{{power.id}}">
            <span class="badge">{{power.id}}</span> {{power.name}}
          </a>
          <button type ="button" class="delete" title="delete hero" (click)="delete(hero, power.id)" >X</button>
        </li>
      </ul>
    </div>
    <div>
      
      <div *ngFor="let power of hero.powers">
        <app-power-select></app-power-select>

      </div>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type = "button" (click)="save()" > save </button>
  </div>




  