<div>
  <label for = "new-city"> City name: </label>
  <input id = "new-city" #cityName/>
</div>

<button type = "button" class = "add-button" (click)="add(cityName.value); cityName.value=''">
Add City
</button> 

<ul class = "cities">
  <li *ngFor="let city of cities">
    <a routerLink="/citydetail/{{city.id}}">
      <span class = "badge"> {{city.id}} </span> {{city.name}}
    </a>
    <button type = "button" class = "delete" title= "delete city" (click)="delete(city)">X</button>
  </li>
</ul>